<div class="row jumbotron text-center">
<h1>New Team</h1>
<p>Note: Upon creation, you will be automatically added as a team member, no need to do it below.</p>
</div>
<div class="row">
 
  <%= render 'form' %>
  
</div>


