<div class="row jumbotron text-center">
<h1>New League</h1>
<p>Upon league creation, teams will be able to register for the competition, once your maximum team count is reached, the system will automatically create the fixtures and schedules for the competition. You can also manually add and remove teams. On the dashboard, you can also begin the competition early</p>
</div>
<div class="row">
 
  <%= render 'form' %>
  
</div>
